/* Reset */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Tyoography*/

body {
  font-family: 'Press Start 2P', cursive;
}

/* Tag */

header {
  height: 60px;
  text-align: center;
  vertical-align: middle;
  line-height: 2;
}

ul li {
  list-style: none;
  padding: 10px 1em;
}

h2,
h3 {
  padding: 20px 0;
}

/* Wrappers */
.app {
  width: 100%;
  display: flex;
  flex: 1;
}

.app__before{
  background-color: #0B0C10;
  color: #66FCF1;
}

.app__after{
  background-color: #45A29E;
  color: #1F2833;
}

.app__before,
.app__after {
  flex-basis: 50%;
  flex-direction: column;
  height: calc(100vh - 60px);
  padding: 20px;
}

/* Animations and deco */

.selector {
  font-size: 28px;
  transition: opacity 100ms;
  animation: selector 1s linear infinite;
}

@keyframes selector {
  0% {
    opacity: 0;
  }
  30%, 70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
